.container{
    display: flex;
    height: 90vh;

    /* ဒါက row ပိုင်း ကို ပြောတာပါ အကယ်၍ property မှာ columnဆို ရင် colပြောင်းသွားမှာပါ */
             /* flex-direction: row; */
    /* ....................................X................................................ */

    /*ဒါကတော့ css property flex-wrap ဘဲ ဖြစ်ပါတယ် flew-wrapက container ထဲမှာ width နဲ့ heigh သတ်မှတ်ထားတာကို မှ width ထက်ကျော်သွားရင် အောက်ဆင်းချင်ရင် flew-wrap:wrapကိုသုံးပါတယ် */
            /* flex-wrap: wrap; */
        /*..............................X...................................................  */
        
    /*ဒါကတော့ flew-flow အပိုင်းဘဲဖြစ်ပါတယ် သူ့ရဲ့လုပ်ဆောင်ပုံကတော့ flew-direction ရော flew-wrap ရော နှစ်ခုလုံးအလုပ်လုပ်ပါတယ်  */
    flex-flow: row wrap;
    /* ..........................................................................X.......................................... */

    /* ဒါကတော့ justify-content ဘဲဖြစ်ပါတယ် သူ့ရဲ့လုပ်ဆောင်ပုံကတော့ horizontal အပိုင်းကိုလုပ်ဆောင်ပါတယ် */
    justify-content: space-evenly;
    /* .......................................X............................................................ */

    /* ဒီကောင်လေးကတော့ vertical အပိုင်းကိုတာဝန်ယူလုပ်ဆောင်ပါတယ် */
    align-items: center;
    /* ........................X............................................... */

    /* ဒီကောင်လေးကတော့align-itemနဲ့တူသလိုရှိပေမယ့်တကယ်တော့ မတူပါဘူး ဘယ်လိုချိန်သုံးရလဲဆိုတာ ပေးတယ့်width ထက်ကျော်သွားရင် align-contentနဲ့ကစားရပါတယ် align-content က space-betweenတေ ဘာတေပါအကုန်လုပ်လို့ရပါတယ် */
    align-content: space-between;

}
.col{
    width: 350px;
    background-color: aqua;
}